<div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 blog-post">
	<h3 class="page-title">Add New Blog Post</h3>
	<form novalidate name="addPost" ng-submit="controller.addPost(addPost.$valid, addPost)">
		<label for="name" class="input-label">Blog Title:</label>
		<input 	type="text"
				class="input-text"
				name="title"
				ng-model="controller.postData.title"
				placeholder="Enter your blog title..."
				ng-minlength="2"
				ng-maxlength="60"
				required>
		<label for="name" class="blog-label">Blog Post:</label>
		<textarea 	type="text"
				class="blog-text"
				name="blog"
				ng-model="controller.postData.blog"
				placeholder="Enter your blog post..."
				ng-minlength="10"
				required>
		</textarea>

		<button type="submit" class="btn btn-post">Post Blog</button>
	</form>
</div>
